body{
    background-color: rgb(149, 168, 145);
    display: grid;
    justify-content: center;
}

#titulo-principal{
    text-align: center;
}

#contenedor{
    display: grid;
    border: 1px solid black;
    padding: 15px;
}